---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>About</title>
    </head>
    <body>
        <h1>Anatolii Sai</h1>
        <h1>I am Astro dev</h1>
        <p>
            I am 23 yo. I started to learn programming around April 2021. I started from HTML, CSS, JavaScript. My best fiend was already Senior web-developer, and he helped me. Now i have knowledge that allows me to get applied to job. The issue is that I live in Ukraine, and its difficult to get applied here, also my knowledge is rather confused, so now im truing to refresh it and learn something new to finally get a job
        </p>
    </body>
</html>