---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Blog</title>
    </head>
    <body>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blog">Blog</a>
        <h1>My Blog starts here</h1>
        <h2>Its december 14 of 2024</h2>
        <p>
            Im sitting next to my gf Alex. I go about to blog, but she want me to finish i for today. Bye!
        </p>
    </body>
</html>