---

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Page 1</title>
</head>
<body>
<a href="/">Home</a>
<a href="/about">About</a>
<a href="/blog">Blog</a>
<a href="/page1">page 1</a>
<h1>Page 1</h1>
<h1>my Family</h1>
<p>greeeeeeeeen squarrrrrrrreeeeee!!!</p>
<p>greeeeeeeeen squarrrrrrrreeeeee!!!(one more)</p>
<p>greeeeeeeeen squarrrrrrrreeeeee!!!(one more1)</p>
</body>
</html>
